.menuSticky{
            overflow: hidden;
            top: 0;
            position: sticky;
            height: 200px;
            margin-bottom: -150px;
        }
        ul {
            list-style-type: none;
            overflow: hidden;
            background-color: #0070D1;
        }
 
        li {
            float: left;
        }
 
        .opcion {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropbtn {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
 
        .dropdown {
            display: inline-block;
        }
 
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
 
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
 
        .dropdown:hover .dropdown-content {
            display: block;
        }
 
        #abajo{
            height: 400px;
            width: 400px;
            background-color: #182580
        }
        #abajo img {
            text-align: center;
            padding: 5px;
            height: 400px;
            width: 400px;
        }
        #medio{
            height: 400px;
            width: 400px;
            background-color: #526879
        }
        #medio img{
            text-align: center;
            padding: 5px;
            height: 350px;
            width: 350px;
        }
        #ultimo {
            height: 400px;
            width: 400px;
            background-color: #5cc9fb
        }
        #ultimo img {
            text-align: center;
            padding: 5px;
            height: 350px;
            width: 350px;
        }
        #slideshow {
        text-align: center;
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin-bottom: 400px;
      }
      
      .slide-wrapper {
        width: 3640px;
        animation: slide 25s infinite ease-in-out;
      }
      
      
      .imgUno {
        background-color: rgb(216, 41, 243);
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210901/pngtree-playstation-neon-sign-pattern-background-image_778863.jpg);
        /*Agregar background-image: url(); para añadir imágenes*/
        float: left;
        height: 510px;
        width: 728px;
        background-size: 728px;
      }
      
      .imgDos {
        background-color: coral;
        background-image: url(https://wallpapers.com/images/hd/playstation-background-l2iyvdpivoq41b74.jpg);
        float: left;
        height: 510px;
        width: 728px;
        background-size: 728px;
      }
      
      .imgTres {
        background-color: greenyellow;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTObs0RF7EtKeo5Y2jhzIaodSCDXAd3eAyF0w&s);
        float: left;
        height: 510px;
        width: 728px;
        background-size: 728px;
      }
      
      .imgCuatro {
        background-color: brown;
        background-image: url(https://img3.wallspic.com/previews/9/9/7/5/7/175799/175799-playstation_2-playstation_4-playstation_3-playstation_5-tienda_playstation-550x310.jpg);
        float: left;
        height: 510px;
        width: 728px;
        background-size: 728px;
      }
      .imgCinco {
        background-color: rgb(100, 27, 27);
        background-image: url(https://wallpapercat.com/w/full/e/9/0/1261540-2040x1148-desktop-hd-the-playstation-background.jpg);
        float: left;
        height: 510px;
        width: 728px;
        background-size: 728px;
      }
      
      @keyframes slide {
        10% {margin-left: 0px;}
        20% {margin-left: -728px;}
        30% {margin-left: -728px;}
        40% {margin-left: -1456px;}
        50% {margin-left: -1456px;}
        60% {margin-left: -2184px;}
        70% {margin-left: -2184px;}
        80% {margin-left: -2912px;}
        90% {margin-left: -2912px;}
      }